:root {
    --ff-head: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --ff-body: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --fw-head: 700;
    --fw-body: 200;

    --color-light: #ff7091;
    --color-dark: black;

    --fs-h1: 30px;
    --fs-h2: 20px;
    --fs-h3: 15px;
}

body {
    background: var(--color-light);
    color: var(--color-dark);
    margin: 0;
}

header {
    font-family: var(--ff-head);
    font-size: var(--fs-h1);
}

img {
    display: block;
    max-width: 10%;
    border-radius: 50%;
    margin: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 1%;
    padding-right: 8%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 2px 5px;
}

nav ul li a {
    color: var(--color-dark);
    text-decoration: none;
}

nav ul li a:hover {
    color: #a4fe00;
    transition: .2s;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.about-me {
    font-family: var(--ff-head);
    margin: 20px;
}

.my-work {
    font-family: var(--ff-head);
    margin: 20px;
}

.contact-me {
    font-family: var(--ff-head);
    margin-top: 20px;
    margin: 20px;
}

p {
    font-family: var(--ff-body);
    margin: 20px;
}



@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }